<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0 ; else elseBlock"> Lista de Cursos aqui </div>
<ng-template #elseBlock> Nao existem cursos para serem listados! </ng-template>

<div *ngIf="mostrarCursos ; else elseBlock"> Lista de Cursos aqui </div>
<ng-template #elseBlock> Nao existem cursos para serem listados! </ng-template>

<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<h5> Hidden como alternativa </h5>
<div [hidden]="!mostrarCursos"> Lista de Cursos aqui </div>
<div [hidden]="mostrarCursos"> Nao existem cursos para serem listados! </div>