<div style="text-align:center">
  <h2>
    Admin
  </h2>
</div>
<nav style="text-align:center">
  <button routerLink="user-list" routerLinkActive="selected-route">User List</button>
  <button routerLink="add" routerLinkActive="selected-route">Add User</button>
  <button routerLink="permissions" routerLinkActive="selected-route">Permissions</button>
</nav>

<div style="color: #a00012; margin-top: 1rem;">Admin Outlet:</div>
<div style="border: 2px solid #a00012; padding: 1rem;">

  <router-outlet></router-outlet>

</div>
