<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Simple Store!
  </h1>
</div>
<nav style="text-align:center">
  <button routerLink="login" routerLinkActive="selected-route">Login</button>
  <button routerLink="products" routerLinkActive="selected-route">Products</button>
  <button routerLink="admin" routerLinkActive="selected-route">Admin</button>
</nav>

<div style="color: green; margin-top: 1rem;">Main Outlet:</div>
<div style="border: 2px solid green; padding: 1rem;">

  <router-outlet></router-outlet>

</div>
